/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

:root {
  --op-color-primary-h: 209;
  --op-color-primary-s: 41%;
  --op-color-primary-l: 29%;
}

.legalese {
  dt {
    font-weight: bold;
    display: inline;

    &::after {
      content: ': ';
    }
  }

  dd {
    display: inline;
  }
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--op-space-small);

  margin-block-start: var(--op-space-medium);
  margin-block-end: var(--op-space-medium);

  .card__header {
    font-weight: var(--op-font-weight-bold);
  }

  .card__footer {
    display: flex;
    justify-content: space-between;
  }
}
